.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 40px;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 770px;
    width: 502px;
}

.card-preview {
    display: flex;
    flex-direction: column;
    background: #C3C3C3;
    height: 548px;
    border-radius: 40px;
    position: relative;
}

.cover-container {
    background: #eee;
    height: 200px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cover {
    height: 100%;
    width: 100%;
    border-radius: 40px 40px 0 0;
}

.profile-picture-container {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    justify-content: center;
    position: absolute;
    left: 185.5px;
    top: 142.5px;
}

.profile-picture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.text-fields {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
}

.text-field {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.data-container {
    height: 100%;
    width: 1228px;
    background: #C3C3C3;
    border-radius: 40px;
}

.data-field-container {
    margin: 40px;
    width: 1148px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
    width: 240px;
}

.field {
    width: 895px;
    background: #fff;
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #5F5F5F;
}

.portfolio-container {
    padding: 0 40px;
}

