.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 80px 50px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    height: 770px;
    width: 502px;
}

.card-preview {
    display: flex;
    flex-direction: column;
    background: #C3C3C3;
    height: 548px;
    border-radius: 40px;
    position: relative;
}

.cover-container {
    background: #eee;
    height: 200px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cover {
    height: 100%;
    width: 100%;
    border-radius: 40px 40px 0 0;
    cursor: pointer;
}

.cover-input {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.profile-picture-container {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    justify-content: center;
    position: absolute;
    left: 185.5px;
    top: 142.5px;
}

.profile-picture-input {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.profile-picture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.text-fields {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
}

.text-field {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

button {
    margin-top: 40px;
}

.change-password-button {
    width: 100%;
    height: 50px;
    border-radius: 80px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #FFFFFF;
    background: #2CCDD1;
}

.save-cancel-block {
    display: flex;
    justify-content: space-between;
}

.save-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 50px;
    background: #2CCDD1;
    color: #FFFFFF;
    border-radius: 80px;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 26px;
    line-height: 160%;
}

.cancel-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 50px;
    background: #FF0000;
    color: #FFFFFF;
    border-radius: 80px;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 26px;
    line-height: 160%;
}

.form-container {
    width: 1113px;
    height: 770px;
    background: #C3C3C3;
    border-radius: 40px;
    padding: 0 40px;
}

.form-field {
    width: 100%;
    border-radius: 80px;
    height: 50px;
    text-align: center;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.first-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 310px;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.block {
    width: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-container {
    width: 100%;
    min-height: 150px;
}

.about {
    min-height: 150px;
    border-radius: 80px;
    text-align: center;
}

.third-container {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
